<a href="https://colab.research.google.com/github/Sant19Rom/CGeo-UNAM/blob/master/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

Here you will find the basics about Python language. This is a good place to make your first script ðŸ˜‰

First of all, we are going to start with the Python phylosophy. 

How? Let's see below ðŸ‘‡

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

Now you have a brief overview of what is Python and how it can help you to achieve your goals and test your ideas.

## We are going to start from the beggining: Variables

Variables is the way to load or save information in your scripts.

How to use it?

`variable_name asignment value`

`variable_name = Number | String | Boolean | Other`

In [ ]:
#Number
pepe_age = 24

#String
book_title = 'This is the tiitle of the book'

#Boolean
is_maria_married = False
is_maria_married = True

## What can I do with variables?

In [ ]:
# When Pepe has born?

born_year = 2022 - pepe_age

print('Pepe was born in {0}: Pepe has {1}'.format(born_year, pepe_age))

# What is the main information of the book?

book_summary = 'This is the book\'s summary'

main_book = book_title + ' -- ' + book_summary

print('The main information of the book is: {0}'.format(main_book))

Pepe was born in 1998: Pepe has 24
The main information of the book is: This is the tiitle of the book -- This is the book's summary

# Formatting

In Python, the way to make an understandable code is the **INDENTATION**

If you don't use the indentation regarding to the Python rules, you will get an error.

In [ ]:
if pepe_age == 24:
  print('Pepe has 24')
  if born_year == 1998:
    print('Pepe was born in 1998')

Pepe has 24
Pepe was born in 1998

In [ ]:
if pepe_age == 24:
print('Pepe has 24')
if born_year == 1998:
print('Pepe was born in 1998')

IndentationError: ignored

# Functions

To define a function you will need to use the following format:

```
def function_name ():
    code here

def function_name (parameter):
    code here

def function_name (parameter=default_value):
    code here
  ```

In [ ]:
def sum(a, b):
  """
  Returns the result of sum a and b

  Params:
    a: First number
    b: Second number

  Return:
    result of a + b
  """
  result = a + b
  return a + b

res = sum(2, 2)
print('Sum result is: {0}'.format(res))

def substraction(a, b):
  """
  Returns the result of substract a and b

  Params:
    a: First number
    b: Second number

  Return:
    result of a - b
  """
  return a - b 

res = substraction(2, 2)
print('Substraction result is: {0}'.format(res))

def mult(a, b):
  """
  Returns the result of multiply a and b

  Params:
    a: First number
    b: Second number

  Return:
    result of a * b
  """
  return a * b 

res = mult(2, 2)
print('Mult result is: {0}'.format(res))

def div(a, b):
  """
  Returns the result of divide a and b

  Params:
    a: First number
    b: Second number

  Return:
    result of a / b
  """
  return a / b 

res = div(2, 2)
print('Div result is: {0}'.format(res))

el resultado de la suma es 4
el resultado de la resta es 0
el resultado de la multipilcacion 4
el resulado de la division es 1.0

# Control Structures

There are many different control structures to define the script flow:

* Conditionals
* Loops

## Conditionals

```
if condition:
  code here
else:
  code here

```

Comparators could be: ==, !=, >, >=, <, <=, not, in, and so on.

In [ ]:
if res ==  2:
  print('The result is {0}'.format(res))
else:
  print('The result is different than 1')

The result is different than 1

## Loops

You can take where two different ways to iterate something:

```
  for variable in variables:
    code here
```

The for sentence could take a condition or only iterate through a list until the end.

```
while condition:
  code here
```

The while is a loop structure that runs the code until the condition fails.

In [ ]:
ages = [24, 26]

for age in ages:
  print('The age is: {0}'.format(age))

The age is: 24
The age is: 26

# Exercise

1. Given a color, return True if it is 'blue' or False otherwise
2. Given a list of names, print all of it

In [ ]:
def check_color(color): 
  if color == 'blue': 
    return True 
  else: 
    return False 
  
check_color('red')
check_color('blue')

True

In [ ]:
names = ['Pepe', 'Juana', 'Pedro']

def show_names(nombres):
  for name in nombres:
    print('Name is: {0}'.format(name))

show_names(names)

Name is: Pepe
Name is: Juana
Name is: Pedro

3. Given a country, return True if it is 'Spain' or False otherwise
4. Given a list of colours, print the color if it is 'blue'

In [ ]:
def is_spain(country):
  if country == 'Spain':
    return True
  else: 
    return False 
print(is_spain('Spain'))
print(is_spain('France'))

True
False

In [ ]:
colours = ['Pink', 'Green', 'Yellow', 'Blue']
 
def is_blue(colores):
  for colour in colores:
    if colour.lower() == 'blue':
      print('The color is: {0}'.format(colour))
  print('There is no blue color in the list')

is_blue(colours)

The color is: Blue

# Data structures

There are a different set of structures to load, transform and transfer data:

* Tuples
* Dictionaries
* Lists

In [ ]:
# Tuples

person_tupple = ('Name', 'Surname', 24)
print(person_tupple)

print('The name of the person is: {0}'.format(person_tupple[0]))
print('The age of the person is: {0}'.format(person_tupple[2]))

# It throws an error. Not allowed assignment
#person_tupple[2] = 25

# Dictionary

person_dict = {
    'name': 'Maria',
    'surname': 'Mateu',
    'age': 24
}

print('The name of person is: {0}'.format(person_dict['name']))

person_dict['age'] = 25

print('The age of person is: {0}'.format(person_dict['age']))
# Lists

ages_list = [20, 21, 22]

print(ages_list[0])

ages_list[1] = 30

print(ages_list[1])

('Name', 'Surname', 24)
The name of the person is: Name
The age of the person is: 24
The name of person is: Maria
The age of person is: 25
20
30

## Exercise

1. Create a function that given a name, surname and country returns a dictionary with the data.

2. Create a function that given a name, surname and country returns a tupple with the data.

3. Create a function that given dictionary by parameter with name, surname and country, updates the country with 'Spain' value and return the updated dictionary.

In [ ]:
#Exercise 1
def return_dictionary(name, surname, country):
 person_dict = {
  'name': name ,
  'surname': surname ,
  'country': country ,
 }
 return person_dict
return_dictionary('Fran', 'Moreno', 'Spain')

{'country': 'Spain', 'name': 'Fran', 'surname': 'Moreno'}

In [ ]:
# Exercise 2
def return_tupple(name, surname, country):
   person_tupple = (name, surname, country)
   return person_tupple

return_tupple('Fran', 'Moreno', 'Spain')

('Fran', 'Moreno', 'Spain')

In [ ]:
# Exercise 3
def update_country(person_dict):
  person_dict['country'] = 'Spain'
  return person_dict

update_country({'name': 'Fran', 'surname': 'Moreno', 'country': 'France'})

{'country': 'Spain', 'name': 'Fran', 'surname': 'Moreno'}

# Dataframes

Like a table, with rows and columns (e.g. as in SQL).  Except:
  - The rows can be indexed by something interesting (there is special support for labels like categorical and timeseries data).  This is especially useful when you have timeseries data with potentially missing data points.
  - Cells can store Python objects. Like in SQL, columns are type homogeneous.
  - Instead of "NULL", the name for a non-existent value is "NA".  Unlike R, Python's data frames only support NAs in columns of some data types (basically: floating point numbers and 'objects') -- but this is mostly a non-issue (because it will "up-cast" integers to float64, etc.)
  
### Data Series:

These are named columns of a DataFrame (more correctly, a dataframe is a dictionary of Series).  The entries of the series have homogenous type.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# a data frame
df1 = pd.DataFrame({
    'number': [1, 2, 3],
    'animal': ['cat', 'dog', 'mouse']
})

df1

   number animal
0       1    cat
1       2    dog
2       3  mouse

If you want to select a column it is as simple like:

In [ ]:
# Option 1
df1['animal']

#Option 2
df1.animal

0      cat
1      dog
2    mouse
Name: animal, dtype: object

If you need to check the column types:

In [ ]:
df1.dtypes

number     int64
animal    object
dtype: object

If you need to change a column type:

In [ ]:
df1['number'] = df1['number'].astype(float)
df1

   number animal
0     1.0    cat
1     2.0    dog
2     3.0  mouse

## Reading data from a file

Pandas allow to read files from different formats:

* JSON
* CSV
* HTML
* XML

and more.

If you want to read a new one, you can do it as follows:

```
  # To read a CSV file
  df = pd.read_csv('filename')
```